<navbar></navbar>
<h1>{{currentuser.name}}'s Rogue's</h1>
<div class="row" ng-show = "showRogues">
	<div class="panel panel-default">
		<div class="col-lg-4" ng-repeat="rogue in myrogues">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{rogue.name}}
					<button type="button" class="btn btn-primary" ng-click = "showDetails(rogue)">Edit Rogue</button>
					<button type="button" class="btn btn-primary" ng-click = "viewReadings(rogue)">View Reading Data</button>
					<button type="button" class="btn btn-primary" ng-click = "blinkLights(rogue)">Blink Lights</button>
					<button type="button" class="btn btn-primary" ng-click = "deleteRogue(rogue)">Delete Rogue</button>
				</div>
				<div class="panel-body">
					<p>{{rogue.active}}</p>
					<p>{{rogue.info}}</p>
					<p>{{rogue.roguetype}}</p>
				</div>
				<div class="panel-footer">
					{{rogue.location}}
				</div>
			</div>
		</div>
	</div>
</div>


<form role="form" ng-show = "showEditForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			Currently Selected Rogue: {{currentRogue.name}}
		</div>
		<div class="panel-body">
			<div class = "form-group"
			<label>Rogue Type:</label>
			<label ng-repeat="option in radioOptions">
				<input type="radio" ng-model="currentRogue.roguetype"
				ng-value="option">{{option}}</input>
			</label>
		</div>
		<div class = "form-group"
			<label>Rogue Active Sensors:</label>
			<div>
			<label ng-repeat="sensor in currentRogue.sensors">
	        	<input type="checkbox" name="sensor.name" ng-model="sensor.value"></input>
	        	{{sensor.name}}</label>
			</div>
		</div>
		
		<div class = "form-group"
		<label>Set Recording Status:</label>
			<label ng-repeat="option in rogueAcitveOptions">
				<input type="radio" ng-model="currentRogue.active"
				ng-value="option">{{option}}</input>
			</label>
		</div>
		<div class="form-group">
				<label>Name</label>
				<input class="form-control" ng-model = "currentRogue.name" placeholder="Enter text">
			</div>
			<div class="form-group">
				<label>Location</label>
				<input class="form-control" ng-model = "currentRogue.location" placeholder="Enter text">
			</div>
			<div class="form-group">
				<label>Information</label>
				<input class="form-control" ng-model = "currentRogue.info" placeholder="Enter text">
			</div>
		</div>
		<div class="panel-footer">
			<button type="button" class="btn btn-primary" ng-click = "saveRogue(currentRogue)">Save Rogue</button>
		</div>
	</div>
	
</form>

<div class="container" ng-show="showReadingForm">
  <h2> {{currentRogue.name}}'s readings and stats</h2>
  <form name="myForm">
    <label for="singleSelect"> Sensor: </label><br>
    <select name="singleSelect" ng-model="selectedReadingOption" ng-options="sensoroption.name for sensoroption in currentRogue.sensors"></select>
	<button type="button" class="btn btn-primary" ng-click = "searchReadings()" >Search</button> 
	<button type="button" class="btn btn-primary" ng-click = "doneViewing()" >Done</button>  
</form>

<div ng-show="showGraph">
<linechart data="data2" options="options" on-toggle="onToggle"></linechart>
</div>
  <table class="table table-bordered" ng-show="showGraph">
  	<thead>
  		<tr>
  			<th>Statistic</th>
  			<th>Value</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Average:</td>
  			<td>{{averageValue(currentRogueReadingsTemp)}}</td>
  		</tr>
  		<tr>
  			<td>Standard Deviation:</td>
  			<td>{{standardDeviation(currentRogueReadingsTemp)}}</td>
  		</tr>
  	</tbody>
  </table> 

</div>         
  <!--<table class="table table-bordered">
    <thead>
      <tr>
        <th>Reading Date</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "reading in currentRogueReadings | filter: selectedReadingOption.sensorname">
        <td>{{reading.timestamp}}</td>
        <td>{{reading.value}}</td>
        <td>{{reading.datatype}}</td>
      </tr>
    </tbody>
  </table>-->
  




<footer></footer>
