<navbar></navbar>
<h1>New Rogue's</h1>
<div class="row" ng-show = "showRogues">
	<div class="panel panel-default">
		<div class="col-lg-4" ng-repeat="rogue in incomingRogues">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{rogue.name}}
					<button type="button" class="btn btn-primary" ng-click = "showDetails(rogue)">Edit Rogue</button>
					<button type="button" class="btn btn-primary" ng-click = "blinkLights(rogue)">Blink Lights</button>
					<button type="button" class="btn btn-primary" ng-click = "claimRogue(rogue)">Collect Rogue</button>
				</div>
				<div class="panel-body">
					<p>{{rogue.active}}</p>
					<p>{{rogue.info}}</p>
					<p>{{rogue.roguetype}}</p>
				</div>
				<div class="panel-footer">
					{{rogue.location}}
				</div>
			</div>
		</div>
	</div>
</div>

<h1>{{currentuser.name}}'s Rogue's</h1>
<div class="row" ng-show = "showRogues">
	<div class="panel panel-default">
		<div class="col-lg-4" ng-repeat="rogue in myrogues">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{rogue.name}}
					<button type="button" class="btn btn-primary" ng-click = "showDetails(rogue)">Edit Rogue</button>
					<button type="button" class="btn btn-primary" ng-click = "viewReadings(rogue)">View Reading Data</button>
					<button type="button" class="btn btn-primary" ng-click = "blinkLights(rogue)">Blink Lights</button>
				</div>
				<div class="panel-body">
					<p>{{rogue.active}}</p>
					<p>{{rogue.info}}</p>
					<p>{{rogue.roguetype}}</p>
				</div>
				<div class="panel-footer">
					{{rogue.location}}
				</div>
			</div>
		</div>
	</div>
</div>


<form role="form" ng-show = "showEditForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			Currently Selected Rogue: {{currentRogue.name}}
		</div>
		<div class="panel-body">
			<div class = "form-group"
			<label>Rogue Type:</label>
			<label ng-repeat="option in radioOptions">
				<input type="radio" ng-model="currentRogue.roguetype"
				ng-value="option">{{option}}</input>
			</label>
		</div>
		<div class = "form-group"
			<label>Rogue Active Sensors:</label>
			<label class="checkbox-inline">
                <input type="checkbox" name="connectedSensors" ng-model="currentRogue.sensors.BMP180"> BMP180
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="connectedSensors" ng-model="currentRogue.sensors.MCP9808"> MCP9808
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="connectedSensors" ng-model="currentRogue.sensors.MAX31855"> MAX31855
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="connectedSensors" ng-model="currentRogue.sensors.TMP006"> TMP006
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="connectedSensors" ng-model="currentRogue.sensors.ADC1"> ADC1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="connectedSensors" ng-model="currentRogue.sensors.ADC2"> ADC2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="connectedSensors" ng-model="currentRogue.sensors.ADC3"> ADC3
            </label>
		</div>
		<div class = "form-group"
		<label>Set Recording Status:</label>
			<label ng-repeat="option in rogueAcitveOptions">
				<input type="radio" ng-model="currentRogue.active"
				ng-value="option">{{option}}</input>
			</label>
		</div>
		<div class="form-group">
				<label>Name</label>
				<input class="form-control" ng-model = "currentRogue.name" placeholder="Enter text">
			</div>
			<div class="form-group">
				<label>Location</label>
				<input class="form-control" ng-model = "currentRogue.location" placeholder="Enter text">
			</div>
			<div class="form-group">
				<label>Information</label>
				<input class="form-control" ng-model = "currentRogue.info" placeholder="Enter text">
			</div>
		</div>
		<div class="panel-footer">
			<button type="button" class="btn btn-primary" ng-click = "saveRogue(currentRogue)">Save Rogue</button>
		</div>
	</div>
	
</form>

<div class="container" ng-show="showReadingForm">
  <h2> {{currentRogue.name}}'s readings and stats</h2>
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th>Statistic</th>
  			<th>Value</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Average:</td>
  			<td>{{averageValue(currentRogueReadings)}}</td>
  		</tr>
  		<tr>
  			<td>Standard Deviation:</td>
  			<td>{{standardDeviation(currentRogueReadings)}}</td>
  		</tr>
  	</tbody>
  </table> 
  <form name="myForm">
    <label for="singleSelect"> Sensor: </label><br>
    <select name="singleSelect" ng-model="selectedReadingOption" ng-options="sensoroption.sensorname for sensoroption in readingRadioOptions"></select> 
	<button type="button" class="btn btn-primary" ng-click = "doneViewing()" >Done</button>           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Reading Date</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "reading in currentRogueReadings | filter: selectedReadingOption.sensorname">
        <td>{{reading.timestamp}}</td>
        <td>{{reading.value}}</td>
        <td>{{reading.datatype}}</td>
      </tr>
    </tbody>
  </table>
  
</div>


<footer></footer>
